.App {
  background-color: #000000;
  color: #000;

}
body {
  background-color: #000000;
}

:root {
  --hover: red;
}

a {
  color: white;
  text-decoration: none;
}

.Nav-header {
  color: white;
  width: 150px;
  height: 100%;
}

.Navmenu {
  border-right: 1px solid rgb(255, 0, 0);
  position: fixed;
  padding-top: 100px;
  width: 150px;
  height: 100vh;
}

.Nav-header ul {
  list-style-type: none;
}

.Nav-Content {
  margin-right: 500px;
  padding-bottom: 30px;
}

.Nav-Content:first-child {
  padding-top: 100px;
}

.About-content {
  color: white;
}

.Header {
  margin-left: 190px;
  width: 1200px;
  
}
.Profile-Content{
  display:'flex';
  padding-right:120px;

}
.Profile-Content p{
    width: 850px;
}
.profile-image {
  width: 150px;
  height: 150px;
  border: 3px solid red;
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 50px;
}

.ImageSection{
  position: relative;
 display: flex;
}

.ImageSection img {
  width: 40px;
  height: 40px;
  border: 3px solid red;
  border-radius: 50%;
  margin-right: 10px;
}

.Project {
  border-right: 1px solid red;
  width: 585px;
  opacity: 1;
}

.Project-Content {
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 20px;
  width: 500px; /* Initially hidden */
  border-radius: 20px;
}

.Project-Content:hover {
  border: 1px solid var(--hover);
  transition: border-left 0.5s;
  cursor: pointer;
}

.Project-Content:nth-child(even) {
  margin-left: 630px;
}

.Skills-Content{
  width: 500px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-right: 100px;
  padding-right: 180px;
  margin-bottom: 50px;
}

.Skills-Content:hover {
  border: 1px solid var(--hover);
  transition: border-left 0.5s;
  cursor: pointer;
}
.Education-Content:hover{
  border: 1px solid var(--hover);
  transition: border-left 0.5s;
  cursor: pointer;
}
.Skills-Content p,
.Skills-Content img {
  padding-left: 100px;
}

.Skills-Content img {
  height: 50px;
  width: 50px;
  padding-left: 0px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 0px;
  border: 1px solid rgb(165, 165, 165);
}

.Skills-Content input[type="range"] {
  margin-left: 100px;
  margin-bottom: 50px;
}

.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 220px;
  height: 7px;
  border-radius: 20px;
  background: red;
  cursor: pointer;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 7px;
  border-radius: 20px;
  background: red;
  cursor: pointer;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 7px;
  border-radius: 20px;
  background: red;
  cursor: pointer;
}

.slider3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 180px;
  height: 7px;
  border-radius: 20px;
  background: red;
  cursor: pointer;
}

.slider4::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 7px;
  border-radius: 20px;
  background: red;
  cursor: pointer;
}

.slider5::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 7px;
  border-radius: 20px;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 7px;
  background: red;
  cursor: pointer;
}

.button-36 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 0, 0);
  padding: 10px;
  border-radius: 10px;
  margin: 50px;
  margin-top: 0px;
  margin-left: 0px;
}

.ImageSection {
  margin-left: 825px;
}
.Skills{
  display: flex;
}
.Education-Content{
  width: 980px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 100px;
  padding-right: 70px;
  margin-bottom: 50px;
  padding-left: 100px;
}
.Year{
  margin-left:550px
}

/* Code for screens with max width 768px and min width 440px */

@media screen and (max-width: 768px) and (min-width: 440px) {
  /* Add your CSS code specific to this screen size here */
  .Header{
    margin-left: 170px;
    overflow-x: hidden;
  }
  .Project{
    .Project-Content:nth-child(even) {
      margin-left: 0px;
    }
  }
  .Skills{
    display: block;
  
  }
  .Skills-Content{
    width: 400px;
  }
  .Education-Content{
    width: 380px;
  }
  .Navmenu {
    height: 585vh;
  }
  
  .Profile-Content p{
    width: 390px;
  }
  .ImageSection{
   display: flex;
   margin-left: 200px;
   position: relative;
  }
  .profile-image{
    margin-top: 60px;
    margin-left: 10px;
  }
  .Institute{
    margin-left: -40px;
  }
 .Year{
  margin-left: 10px;
 }
 .Degree{
  margin-left: -40px;
 }
  body{
    width: 100px;
  }
}
@media screen and (max-width: 380px){
  .Navmenu{
    display:none;
  }
  .Header{
    margin-left: 10px;
  }
  .Profile-Content{
    width: 360px;
  }
  .profile-image{
    margin-top: 340px;
    margin-left: -260px;
  }
  .Project{
    .Project-Content:nth-child(even) {
      margin-left: 0px;
    }
  }
  .ImageSection{
    margin-left: 100px;
  }
  .ImageSection img{
    margin-right: 115px;
  }
  .button-36{
    margin-left: 110px;
  }
  .Project-Content {
    width: 300px;
  }
  .Skills{
    display: block;
  }
  .Skills-Content{
    width: 170px;
  }
  .Skills-Content img{
    margin-left: 150px;
  }
  .Skills-Content p{
    padding-left: 70px;
  }
  .Skills-Content input[type="range"]{
    
    margin-left: 50px;
  }
  .Education-Content{
        width: 180px;
  }
  .Institute{
    margin-left: -90px;
    width: 290px;
  }
  .Year{
    margin-left: -290px;
    margin-top: 70px;
  }
  .Degree{
    margin-left: -90px;
    width: 290px;
    margin-top: -05px;
  }
}